{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    PlayGym
  </h3>
  <p>
    Welcome to the Playgym. We hope you find the tools useful in to journey to a healthy lifestyle.
  </p>
</section>